@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "_mixins.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;

    scroll-behavior: smooth;
}
// Initialisation du projet

header{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/img/header/HeroImage.png");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    #HomeHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        margin: 90px;
        top: calc(50% - 128px);
        transform: translateY(-50%);
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            line-height: 96px;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        img{
            width: 643px;
            height: 242px;
        }
    }
    nav{
        ul{
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;
            li{
                list-style: none;
                a{
                    width: 157px;
                    height: 128px;
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    line-height: 128px;
                    font-size: 24px;
                    display: inline-block;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 30px;
                        left: 0;
                        background-color: #ffffff;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }
                    &:hover:after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }
    #HomeComingEvent{
        width: 388px;
        position: absolute;
        bottom: 100px;
        right: 100px;
        z-index: 1;
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 36px;
            padding: 20px 0px 20px 0;
        }
        #ComingEvent{
            h3{
                padding: 15px 0px 15px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
            }
            a{
                padding: 30px 0px 30px 0;
                position: absolute;
                right: 0px;
            }
        }
    }
    #HomeComingSeparator{
        height: 100vh;
        img{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 65vh;
        }
    }
}

main{
    .Home{
        padding: 100px;
        .ButtonClassic{
            @include ButtonClassic;
            &:hover{
                @include ButtonClassicHover;
            }
        }
        
    }
    #HomeVisitCard{
        display: flex;
        justify-content: space-evenly;
        #VisitCardFlex{
            display: flex;
            .VisitCardInfo{
                margin: 1.5em;
                h3{
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                }
                p{ 
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
        img{
            width: 396px;
        }
        h2{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            text-transform: uppercase;
        }
    }
    #HomeGallery{
        background-image: url("../assets/img/HomeGallery/BackgroundGallery.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            @include HomeH2;
        }
        ul{
            margin-bottom: 5em;
            --n: 1;
            --m: 6;
            --g: 0px;
            --f: .2;
            
            display: grid;
            gap: var(--g);
            width: 80vw;
            height: 70vh;
            grid-template-columns: repeat(var(--m),auto);

            img{
                width: 0;
                height: 0;
                min-height: 100%;
                min-width: 100%;
                object-fit: cover;
                cursor: pointer;
                filter: grayscale(100%);
                transition: .35s linear;
                &:hover{
                    filter: grayscale(0);
                    width:  calc(100vh*var(--f)/var(--n));
                    height: calc(100vw*var(--f)/var(--m));
                }
            }
        }
    }
    #HomeHistory{
        background-color: black;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            @include HomeH2;
        }
        article{
            margin: 30px 0px 30px 0px;
            display: flex;
            width: 1000px;
            color: white;
            padding: 2em;
            border-radius: 15px;
            border: 3px solid #363636;
            .HistoryCardContent{
                padding: 2em;
                h3{
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 1em;
                }
                p{
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: justify;
                }
            }
            img{
                width: 224px;
                height: auto;
            }
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
            &:hover{
                background-color: #363636;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all 0.3s ease-out;
            }
        }
    }
    #HomeContactForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            @include HomeH2;
            color: black;
        }
        form{
            width: 70vw;
            .HomeContact{
                display: flex;
                flex-direction: column;
                input, textarea{
                    border: 2px solid #979797;
                    border-radius: 15px;
                    padding: 1em;
                    height: 70px;
                }
                label{
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            #ConractMail, #ContactMessage{
                margin: 1.5em 0 1.5em 0;
            }
            #ContactFlex{
                display: flex;
                justify-content: space-between;
                margin: 1.5em 0 1.5em 0;
                .HomeContact{
                    width: 45%;

                }
            }
            #ContactSubmit{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 100%;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            #ContactMessage{
                textarea{
                    height: 400px;
                }
            }
        }
    }
}

footer{
    background-color: black;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .footerSection{
        height: 200px;
        h4{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 30px;
            }
        #footerSectionContentLink{
            p{
                padding: .2em;
            }
        }
        .footerSectionContent{
            padding: .5em;
            h5{
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
            }
            p{
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 20px;
            }
        }
        #footerSocial{
            a{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                color: white;
            }
        }
    }
}
