*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pannel{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}
#agendaChoice{
    width: 50%;
    height: 100%;
    background-color: rgb(192, 104, 104);
    cursor: pointer;
}
#agendaChoice h1{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#actuChoice{
    width: 50%;
    height: 100%;
    background-color: rgb(122, 122, 173);
    cursor: pointer;
}
#actuChoice h1{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.hover h1{
    color: white;
    font-size: 4em;
    transition: 0.5s;
    transition: all 0.5s ease-in-out;
}
.notHover h1{
    color: black;
    transition: 0.5s;
    transition: all 0.5s ease-in-out;
}
.active{
    display: block;
}
.notActive{
    display: none;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
}
th{
    background-color: #f2f2f2;
}
td{
    text-align: center;
    padding: 1em;
}
tr:hover{
    background-color: #ddd;
}
.backButton{
    padding: 1em;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em;
}